<app-header></app-header>

<div class="container">
<div class="row" style="width:1100px;" >
    <div class="col-2" style="background-color:orangered; color:azure; border: 1px solid rgb(31, 30, 30);">Customer Filter</div>
    <div class="col-2" style="background-color:orangered; color:azure; border: 1px solid rgb(31, 30, 30);">Product Filter</div>
    <div class="col-2" style="background-color:orangered; color:azure; border: 1px solid rgb(31, 30, 30);">Services Filter</div>
    <div class="col-2" style="background-color:orangered; color:azure; border: 1px solid rgb(31, 30, 30);">Tools Filter</div>
    <div class="col-2" style="background-color:orangered; color:azure; border: 1px solid rgb(31, 30, 30);">Checks Filter</div>
    <div class="col-2" style="background-color:orangered; color:azure; border: 1px solid rgb(31, 30, 30);">Region Filter</div>
</div>
</div>

<div class="container">



<div class="row" style="width:1100px;">
  <div class="col-2 menu">
    <ul>
      <li style="background-color:#1d1b1b; color:azure">Region</li>
      <li>BENELUX
        
        </li>
      <li>EUROPE
        </li>
      <li>APAC
       </li>
      <li> NAM
        </li>
      <li>NORDIC</li>
    
    </ul>
  </div>
    <div class="col-2 menu">
      <ul>
        <li style="background-color:#1d1b1b; color:azure">Customer</li>
        <li>ABInBev</li>
        <li>AkzoNobel</li>
        <li>BAT</li>
        <li>Givaudan</li>
        <li>GSK</li>
        <li>ICRC</li>
        <li>Inditex</li>
        <li>JDE</li>
        <li>K&N</li>
        <li>KPMG</li>
        <li>Meritor</li>
      </ul>
    </div>

    <div class="col-2 menu">
      <ul>
        <li style="background-color:#1d1b1b; color:azure">Products</li>
        <li>Router
          
          </li>
        <li>Switch
         </li>
        <li> WAP
        </li>
        <li>Gateway
          </li>
        <li>Viptela Router
        </li>
        <li>PBX
          </li>
        <li>Switch/WAP/WLC
          </li>
        <li>Riverbed device
          
          </li>
        <li>Switch/WAP
          </li>
        <li>Fortigate devices
         </li>
        <li> Meraki Router</li>
      </ul>
    </div>

    <div class="col-2 menu">
      <ul>
        <li style="background-color:#1d1b1b; color:azure">Services</li>
        <li>BVPN
          
          </li>
        <li>MLAN
          </li>
        <li>Voice Gateway
          </li>
        <li>SDWAN
          </li>
        <li>PBX
          </li>
        <li>Riverbed
          </li>
        <li>Fortigate
          </li>
        <li>B2Gaas
          </li>
        <li>UCC
          </li>
        <li>Fixed Voice
          </li>
        <li>MS Team</li>
      </ul>
    </div>

    <div class="col-2 menu">
      <ul>
        <li style="background-color:#1d1b1b; color:azure">Tools</li>
        <li>Fileade Provisioning
         
          </li>
        <li> SALTO
          </li>
        <li>SESAM
          </li>
        <li>GINI
          </li>
        <li>Putty
          </li>
        <li>ServiceNow
          </li>
        <li>ORION
         </li>
        <li> My Service Space
          </li>
        <li>FLIP
          
          </li>
        <li>Orchestre
          </li>
        <li>GOLD
          </li>
      </ul>
    </div>

    
    <div class="col-2 menu">
      <ul>
        <li style="background-color:#1d1b1b; color:azure">Checks</li>
        <li>Device Status
          
          </li>
        <li>Bandwidth
         </li>
        <li> Order Status
          </li>
        <li>Polling Status
          </li>
        <li>Device Reachibilty
         </li>
        <li> DNS 
          </li>
        <li>Serial Number
          </li>
        <li>Monitoring IP
          </li>
        <li>Monitoring Interfaces
          </li>
        <li>Device availability
          </li>
        <li>Customer Device Name</li>
      </ul>
    </div>

</div>

</div>
