<app-header></app-header>


  <div class="row">   

    <div class="row" style="width:1335px;" >
        <div class="col-9" style="background-image: radial-gradient(circle, #a93211, #bc4c10, #cd650f, #dd7f0e, #eb9912);position: relative; height:120px;left:20px;"> 
        <p><b><span>An easy way to manage</span></b><br>Sync between commercial and technical inventory tools and better collaboration between<br>
        Services Transition and Service Operation towards the comman objective of Data<br>
        Integrity throughout all the downstream tools
        </p>
        </div>
        <div class="col-1" style="background-color: black; color:white; height:120px">
        <div class="row" style="margin-top:40px;margin-left: 10px;"><i class="material-icons" style="vertical-align: middle;">error</i></div>
        </div>
        <div class="col-2" style="background-color: black; color:white; height:120px;text-decoration: underline;">
        <div>Documents & Tutorials</div>
        <div>Forum</div>
        <div>Need help</div>
        </div>
    </div>
</div>



<section >
<div class="row"  >
<div class="col-6" >
    <div class="card" style="left:5px">
        <h1 style="background-color: #cd650f; text-align: center; margin:4px;">News Flash</h1>
        <div class="container">
          <p>MATCH has been refreshed 4/19/6:32:29 AM</p>
          <p>MATCH new version is live now</p> 
          <p>3 new customers has been onboarded in week 15</p> 
        </div>
    </div>
</div>
<div class="col-6" >
    <div class="card" style="height:180px;width:608px">
        <h1 style="background-color: #cd650f; text-align: center; margin:4px;">Quick Action</h1>
        <div class="container">
          <div class="row">
            <div class="col-2"><i class="material-icons" style="vertical-align: middle; font-size: xx-large;">flag_circle</i></div>
            <div class="col-10">Report an issue</div>
          </div>
          <div class="row">
            <div class="col-2"><i class="material-icons" style="vertical-align: middle;">feedback</i></div>
            <div class="col-10" routerLink="/feedback">Feedback</div>
          </div>
        </div>
      </div>
</div>s
</div>
</section>

<div class="row" style="display:inline;">
    <div class="col-2 menu" style="width: 130px;">
      <ul>
        <li style="background-color:#1d1b1b; color:azure">Tools</li>
        <li>SESAM</li>
        <li>SALTO</li>
        <li>GOLD</li>
        <li>GINI</li>
        <li>FLIP</li>
        <li>Ocean</li>
        <li>Orhesta</li>
        <li>Fileade P.</li>
        <li>Fileade M.</li>
      </ul>
    </div>
    <div class="col-10" style="background-color: rgb(55, 68, 82); margin-top: 15px;margin-left: 25px;">

        <div class="row" style="background-color:orangered; text-align: center;width: 1000px;margin-left: 15px;"><h1>Weekly Migration & Cessation Report</h1></div> 
        <div class="row">
            <div class="col-6">
                    <div class="card">
                        <p style="background-color: rgb(14, 13, 13);text-align: center; margin:5px; color:azure;height:30px">Device Migration</p>
                        <div  style="display: block;">
                            <div class="container">
                             <p><img src="../../../assets/images/g1.png" width="400px"></p>                            
                            </div>
                        </div>
                      </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <p style="background-color: rgb(14, 13, 13);padding:5px;text-align: center; margin:5px; color:azure;height:30px">Customer On boarded</p>
                    <div class="container">
                      <p></p> 
                      <p><img src="../../../assets/images/g2.png" width="280px"> </p>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="card">
                  <p style="background-color: rgb(14, 13, 13); padding:5px;text-align: center; margin:5px; color:azure;height:30px">Monthly Cessation</p>
                    <div class="container"> 
                      <p></p> 
                      <p><img src="../../../assets/images/g2.jpg" width="400px"> </p>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <p style="background-color: rgb(14, 13, 13); padding:5px;text-align: center; margin:5px; color:azure;height:30px">Tools on Devices</p>
                    <div class="container">
                      <p></p> 
                      <p><img src="../../../assets/images/g4.svg" width="200px"> </p> 
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>

 


